<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href="{% url 'login_redirect' %}">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <!-- End Dashboard Nav -->


        <!--  Clientes Nav -->
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-person"></i></i><span>Clientes</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="forms-elements.html">
                        <i class="bi bi-circle"></i><span>Form Elements</span>
                    </a>
                </li>
                <!-- End Register Page Nav -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="pages-register.html">
                        <i class="bi bi-card-list"></i>
                        <span>Registrar un </span>
                    </a>
                </li>
                <!-- End Register Page Nav -->
            </ul>
        </li>
        <!-- End Clientes Nav -->

        <li class="nav-heading">Pages</li>
        <!--  Cake Nav -->
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#" id="Bases">
                <i class="bi bi-menu-button-wide"></i><span>Cake</span><i
                    class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav" >
                <li>
                    <a href="{% url 'base_list' %}" >
                        <i class="bi bi-circle"></i><span>Bases</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'size_list' %}">
                        <i class="bi bi-circle"></i><span>Tamano</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'merengue_list' %}">
                        <i class="bi bi-circle"></i><span>Merengue</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'pisos_list' %}">
                        <i class="bi bi-circle"></i><span>Pisos</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'cake_list' %}">
                        <i class="bi bi-circle"></i><span>Configuración</span>
                    </a>
                </li>
            </ul>
        </li>
        <!-- End Cake Nav -->
        <!-- End Pedidos Nav -->
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-gem"></i><span>Pedidos</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="icons-bootstrap.html">
                        <i class="bi bi-circle"></i><span>Bootstrap Icons</span>
                    </a>
                </li>
                <li>
                    <a href="icons-remix.html">
                        <i class="bi bi-circle"></i><span>Remix Icons</span>
                    </a>
                </li>
                <li>
                    <a href="icons-boxicons.html">
                        <i class="bi bi-circle"></i><span>Boxicons</span>
                    </a>
                </li>
            </ul>
        </li>
        <!-- End Pedidos Nav -->
        <!-- End F.A.Q Page Nav -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="pages-faq.html">
                <i class="bi bi-question-circle"></i>
                <span>F.A.Q</span>
            </a>
        </li>
        <!-- End F.A.Q Page Nav -->
    </ul>
</aside>
<!-- End Sidebar-->

